@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pixelify Sans Variable', system-ui;
  overflow-y: clip;
}

html {
  background: #03050d;
}

.fade-in {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
